.bttn {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #388087;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 15px;
  color: white;
  width: 112px;
}

.bttn:hover {
  background: #388087;
  transform: scale(1.15);
}

.bttn > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.bttn:hover svg {
  transform: translateX(5px);
}

.bttn:active {
  transform: scale(0.95);
}
